@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap);
:root {
  --blue: #4475F2;
  --lightblue: #23A6F0;
  --darkmain: #000;
  --desc: #5E6282
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #5e6282;
  line-height: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Plus Jakarta Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: relative;
  z-index: 50;
  padding-top: 4.8125rem
}
.header__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 7.8125rem;
  -moz-column-gap: 7.8125rem;
  column-gap: 7.8125rem
}
.header__logo {
  flex: 0 0 5rem
}
.header__logo img {
  min-width: 100%;
  min-height: 100%
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .9375rem;
  align-items: center
}
.menu__link {
  color: #5e6282;
  font-size: 1.0625rem;
  line-height: .9411764706;
  text-transform: capitalize;
  transition: color .3s ease 0s
}
.menu__link._navigator-active {
  text-decoration: underline
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5625rem;
  justify-content: center;
  align-items: center
}
.footer__item {
  display: flex;
  flex-direction: column;
  text-align: center
}
.footer__title {
  color: var(--darkmain);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700
}
.footer__logo {
  max-width: 15.5rem
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--darkmain);
  font-size: 1.25rem;
  font-weight: 500;
  height: 5.8125rem
}
.footer__copy {
  color: #fff;
  font-size: .875rem;
  text-align: center;
  font-weight: 700;
  padding: 3.125rem .9375rem 3.125rem .9375rem;
  background-color: var(--blue)
}
.social {
  position: relative;
  z-index: 2;
  top: 0;
  display: flex;
  gap: 1.0625rem;
  height: 5.875rem;
  align-items: center
}
.social__item {
  transition: all .3s ease 0s
}
.page__hero {
  margin-bottom: 4.375rem
}
.hero {
  position: relative;
  padding-top: 4.6875rem;
  padding-bottom: 2.625rem
}
.hero__container {
  display: flex
}
.hero__container::after,
.hero__container::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 200vw;
  bottom: 0;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  background-color: var(--blue);
  box-shadow: 0 1.875rem 3.75rem rgba(71,74,87,.25);
  border-radius: 3.125rem;
  left: calc(50% + 1.875rem);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg)
}
.hero__container::after {
  left: calc(50% + 27.625rem);
  -webkit-transform: skewX(31deg);
  transform: skewX(31deg)
}
.hero__content {
  flex: 0 1 50%
}
.hero__image {
  flex: 0 1 50%
}
.content-hero {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 1.875rem;
  justify-items: start
}
.content-hero__text p {
  color: var(--desc);
  line-height: 1.875;
  text-shadow: 0 0 .4375rem #fff
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 2.125rem
}
.content-hero__button {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3888888889;
  text-align: center;
  padding: 1.125rem 3.375rem 1.125rem 3.375rem;
  border-radius: .625rem;
  color: #fff;
  background-color: var(--blue);
  box-shadow: 0 1.875rem 3.75rem 0 rgba(68,117,242,.25);
  bottom: 0;
  transition: all .3s
}
.content__title {
  color: var(--darkmain);
  font-weight: 800;
  line-height: 1.1315789474;
  letter-spacing: -.25rem
}
.content__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.content__title a {
  color: var(--blue);
  text-decoration: underline;
  text-shadow: 0 0 .3125rem #e9e7e6
}
.image-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1.6875rem
}
.image-hero__item-01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: .625rem
}
.image-hero__image {
  border-radius: .625rem;
  max-width: 100%;
  box-shadow: 0 .9375rem 1.25rem 0 rgba(0,0,0,.1)
}
.image-hero__item-03 {
  grid-row: span 2;
  align-self: center;
  justify-self: end;
  padding-bottom: .625rem
}
.image-hero__item-04 {
  align-self: end;
  justify-self: end
}
.features__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.875rem
}
.features__item {
  display: grid;
  flex: 0 1 16.875rem;
  align-items: center;
  justify-items: center
}
.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 1.625rem;
  background-color: var(--blue);
  box-shadow: 0 1.875rem 3.75rem 0 rgba(71,74,87,.25);
  transition: all .3s ease 0s
}
.features__title {
  color: var(--darkmain);
  text-align: center;
  font-weight: 700;
  letter-spacing: .0825rem
}
.features__text {
  color: var(--desc);
  text-align: center;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: .0825rem
}
.header-block__label {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: .075rem;
  line-height: 1.125
}
.header-block__label:not(:last-child) {
  margin-bottom: .625rem
}
.header-block__title {
  color: var(--darkmain);
  font-weight: 800;
  line-height: 135%
}
.services__items {
  display: grid
}
.services__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem
}
.services__content {
  flex: 1 1 15.625rem
}
.services__title {
  color: var(--darkmain);
  font-weight: 500;
  letter-spacing: .64px
}
.services__title span {
  color: var(--blue)
}
.services__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.services__text p {
  color: var(--desc);
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: .32px
}
.services__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.services__picture {
  max-width: 100%;
  border-radius: .625rem;
  box-shadow: 0 1.875rem 3.75rem 0 rgba(71,74,87,.25);
  transition: all .3s ease 0s
}
.reviews__items {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem
}
.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 15.625rem;
  padding: 2.5rem;
  border: .0625rem solid #dedede;
  border: 1px solid var(--Border,#dedede);
  background: #fff;
  box-shadow: 0 100px 80px 0 rgba(0,0,0,.07),0 41.778px 33.422px 0 rgba(0,0,0,.05),0 22.336px 17.869px 0 rgba(0,0,0,.04),0 12.522px 10.017px 0 rgba(0,0,0,.04),0 6.65px 5.32px 0 rgba(0,0,0,.03),0 2.767px 2.214px 0 rgba(0,0,0,.02);
  transition: all .3s ease 0s
}
.reviews__link-avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin-bottom: 1.875rem
}
.reviews__link {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.reviews__text {
  color: var(--desc);
  text-align: center;
  flex-grow: 1;
  font-weight: 500;
  margin-bottom: 1.5625rem
}
.reviews__text p {
  line-height: 1.875;
  letter-spacing: .2px
}
.reviews__text p:not(:last-child) {
  margin-bottom: .625rem
}
.reviews__link-title {
  color: var(--lightblue);
  text-align: center;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: .2px;
  margin-bottom: .9375rem
}
.reviews__position {
  color: var(--darkmain);
  text-align: center;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: .2px
}
.location__map {
  width: 100%;
  height: 30.9375rem;
  border-radius: .625rem;
  box-shadow: 0 1.875rem 3.75rem 0 rgba(71,74,87,.25)
}
@media (min-width:47.99875em) {
  .content-hero {
    justify-items: start
  }
  .services__item {
    align-items: flex-start
  }
  .services__item:nth-child(odd) {
    flex-direction: row-reverse
  }
  .services__item:nth-child(odd) .services__body {
    margin: 0 0 0 auto
  }
  .services__body {
    max-width: 26.25rem
  }
  .services__image {
    flex: 1 1 15.625rem
  }
}
@media (min-width:56.0625em) {
  .features__items {
    justify-content: space-between
  }
}
@media (min-width:76.875em) {
  .footer__body {
    margin-bottom: 5.9375rem
  }
  .footer__container {
    -webkit-column-gap: 6.25rem;
    -moz-column-gap: 6.25rem;
    column-gap: 6.25rem
  }
  .footer__title {
    margin-bottom: 1.5rem
  }
  .page__features {
    margin-bottom: 11.25rem
  }
  .page__services {
    margin-bottom: 11.25rem
  }
  .page__reviews {
    margin-bottom: 11.25rem
  }
  .page__location {
    margin-bottom: 15rem
  }
  .content__title {
    font-size: 4.75rem
  }
  .features__item {
    gap: 1.875rem
  }
  .features__title {
    font-size: 1.5rem
  }
  .header-block_margin {
    margin-bottom: 5rem
  }
  .header-block__title {
    font-size: 3rem
  }
  .services__items {
    gap: 8.75rem
  }
  .services__title {
    font-size: 2rem
  }
}
@media (min-width:75em) {
  .content-hero {
    padding-right: 1.25rem
  }
}
@media (max-width:20em) {
  .footer__body {
    margin-bottom: 2.5rem
  }
  .footer__container {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .footer__title {
    margin-bottom: .625rem
  }
  .page__features {
    margin-bottom: 3.125rem
  }
  .page__services {
    margin-bottom: 3.125rem
  }
  .page__reviews {
    margin-bottom: 3.125rem
  }
  .page__location {
    margin-bottom: 3.75rem
  }
  .content__title {
    font-size: 2.5rem
  }
  .features__item {
    gap: .9375rem
  }
  .features__title {
    font-size: 1.25rem
  }
  .header-block_margin {
    margin-bottom: 1.5625rem
  }
  .header-block__title {
    font-size: 1.875rem
  }
  .services__items {
    gap: 3.125rem
  }
  .services__title {
    font-size: 1.5rem
  }
}
@media (max-width:61.99875em) {
  .menu__link {
    text-shadow: 0 0 .4375rem #fff
  }
  .hero__container {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .image-hero {
    align-self: center
  }
}
@media (max-width:56.0625em) {
  .features__items {
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .services__item {
    flex-direction: column
  }
  .services__image {
    align-items: center
  }
}
@media (max-width:29.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    justify-content: space-between
  }
  .menu__body {
    display: flex;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: all .5s ease 0s;
    padding: 3.75rem .9375rem 1.875rem .9375rem;
    background-color: #4475f2
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: .375rem;
    transition: all .4s ease 0s;
    background-color: rgba(0,0,0,0);
    z-index: 2
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2.5rem
  }
  .menu__link {
    font-size: 1.875rem
  }
  .content-hero {
    justify-items: center
  }
}
@media (max-width:29.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em)and (max-width:0.125em) {
  .menu__body {
    padding-top: 6.25rem
  }
}
@media (max-width:29.99875em)and (min-width:20em) {
  .menu__body {
    padding-top: 8.125rem
  }
}
@media (max-width:29.99875em)and (min-width:0.125em)and (max-width:20em) {
  .menu__body {
    padding-top: clamp(6.25rem ,6.2382075472rem + 9.4339622642vw ,8.125rem)
  }
}
@media (min-width:20em)and (max-width:76.875em) {
  .footer__body {
    margin-bottom: clamp(2.5rem ,1.2912087912rem + 6.043956044vw ,5.9375rem)
  }
  .footer__container {
    -webkit-column-gap: clamp(3.75rem ,2.8708791209rem + 4.3956043956vw ,6.25rem);
    -moz-column-gap: clamp(3.75rem ,2.8708791209rem + 4.3956043956vw ,6.25rem);
    column-gap: clamp(3.75rem ,2.8708791209rem + 4.3956043956vw ,6.25rem)
  }
  .footer__title {
    margin-bottom: clamp(.625rem ,.3173076923rem + 1.5384615385vw ,1.5rem)
  }
  .page__features {
    margin-bottom: clamp(3.125rem ,.2678571429rem + 14.2857142857vw ,11.25rem)
  }
  .page__services {
    margin-bottom: clamp(3.125rem ,.2678571429rem + 14.2857142857vw ,11.25rem)
  }
  .page__reviews {
    margin-bottom: clamp(3.125rem ,.2678571429rem + 14.2857142857vw ,11.25rem)
  }
  .page__location {
    margin-bottom: clamp(3.75rem ,-.206043956rem + 19.7802197802vw ,15rem)
  }
  .content__title {
    font-size: clamp(2.5rem ,1.7087912088rem + 3.956043956vw ,4.75rem)
  }
  .features__item {
    gap: clamp(.9375rem ,.6078296703rem + 1.6483516484vw ,1.875rem)
  }
  .features__title {
    font-size: clamp(1.25rem ,1.1620879121rem + .4395604396vw ,1.5rem)
  }
  .header-block_margin {
    margin-bottom: clamp(1.5625rem ,.3537087912rem + 6.043956044vw ,5rem)
  }
  .header-block__title {
    font-size: clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)
  }
  .services__items {
    gap: clamp(3.125rem ,1.146978022rem + 9.8901098901vw ,8.75rem)
  }
  .services__title {
    font-size: clamp(1.5rem ,1.3241758242rem + .8791208791vw ,2rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--blue);
    text-decoration: underline
  }
  .footer__link:hover {
    text-decoration: underline
  }
  .social__item:hover {
    -webkit-transform: translate(0,-3%);
    transform: translate(0,-3%);
    box-shadow: 0 .625rem 1.25rem 0 rgba(68,117,242,.8862745098)
  }
  .content-hero__button:hover {
    bottom: .125rem;
    box-shadow: 0 1.875rem 3.75rem 0 rgba(68,117,242,.7)
  }
  .content__title a:hover {
    text-decoration: none
  }
  .features__icon:hover {
    -webkit-transform: translate(0,-3%);
    transform: translate(0,-3%)
  }
  .services__title span:hover {
    text-decoration: underline
  }
  .services__picture:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 1.875rem 3.75rem 0 rgba(35,70,247,.25)
  }
  .reviews__item:hover {
    -webkit-transform: translate(0,-3%);
    transform: translate(0,-3%);
    border-radius: 1.25rem
  }
  .reviews__link-title:hover {
    text-decoration: underline
  }
}